@page
@using TheBugTracker.Areas.Identity.Pages.Account;
@model LoginModel

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-icon"></div>
    <span>Loading...</span>
</div>
<!-- Content body -->
<div class="content-body">
    <!-- Content -->
    <div class="content ">


        <div class="row">
            <div class="col-md-12">
                <h3 class="card-title">Welcome to the bug tracker!</h3>
                <div class="card">
                    <div class="card-body">
                        <p>
                            Please feel free to demo the functionalities offered by this bug tracker by using any Demo link.
                        </p>
                        <a class="col-6 btn btn-primary btn-lg btn-block w-25 ms-5" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in"></i><span> Try it Now</span></a>
                        <img class="col-6 h-50 w-50" src="~/img/bug-bro.svg" />
            
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- ./ Content -->
</div>
<!-- ./ Content body -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}